experiment_v1/bundles/p2_colab_bundle_v1.zip filter=lfs diff=lfs merge=lfs -text
experiment_v1/bundles/p3_colab_bundle_v4.zip filter=lfs diff=lfs merge=lfs -text
experiment_v1_1/bundles/p3_4block_bundle_v1.zip filter=lfs diff=lfs merge=lfs -text
experiment_v1_2/bundles/p3_16m_bundle_v2.zip filter=lfs diff=lfs merge=lfs -text
